{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Vijay Prajapati </h3>
                <p class="lead" style="font-weight: 350;">Hi, I am vijay Prajapati. Currently Pursuing Bachelors in
                    Electronics and Communication. </p>
            </center>
            <center>
                <h3>Vikhyat Bohara</h3>
                <p class="lead" style="font-weight: 350;">Hi, I vikhyat Bohra. Currently Pursuing Bachelors in
                   Electronics and Communication..</p>
            </center>
          
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Labdhi Ranka</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Labdhi Ranka. I am persuing Bachlors in AI and ML.
                </p>
            </center>
            <center>
                <h3> Rajyalakshmi </h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Rajyalakshmi. I am persuing Bachlors in AI and ML.
                </p>
            </center>
            
            
        </div>
    </div>
    <div>
        <h5>Social Media Handles :</h5><br>
        <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img
                ></a> 
        vijaykumarp.ec22@rvce.edu.in<br><br>
        <a target="_blank" href='https://www.instagram.com/krishna.baldaniya/'><img
               ></a> 
        vikhyatbohra.ec22@rvce.edu.in<br><br>
        <a target="_blank" href='https://www.instagram.com/krishna.baldaniya/'><img
            ></a> 
     labdhiranka.ai22@rvce.edu.in<br><br>
     <a target="_blank" href='https://www.instagram.com/krishna.baldaniya/'><img
        ></a> 
 rajyalakshmi.ai22@rvce.edu.in<br><br>
        
       <br>
    </div>
</div>

{% endblock body %}